{% load google_analytics %}
<html>
<head>
	{% load staticfiles %}
	<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<!-- Scripts for Bokeh -->
	<script type="text/javascript" src="{% static 'uniqueref/scripts/bokeh-0.12.3.min.js' %}" ></script>
	<script type="text/javascript" src="{% static 'uniqueref/scripts/bokeh-widgets-0.12.3.min.js' %}" ></script>
	<script type="text/javascript" src="{% static 'uniqueref/scripts/jquery-latest.min.js' %}" ></script>
	
	<!-- CSS for bokeh -->   	
	<link rel="stylesheet" type="text/css" href="{% static 'uniqueref/content/bokeh-0.12.3.min.css' %} " />
	<link rel="stylesheet" type="text/css" href="{% static 'uniqueref/content/bokeh-widgets-0.12.3.min.css' %} " />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Custom CSS for the template -->
	<link rel="stylesheet" type="text/css" href="{% static 'uniqueref/content/base.css' %}" />
	
	<!-- The favicon -->
	<link rel="shortcut icon" href="{% static 'favicon.png' %}"/>
{% google_analytics %}
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="headertext">
				<font color="orange">Phenosaurus</font><font color='white'>REX</font>
			</div>
		</div>
		<div class="main">
			<div class="box sidebar">
                <div id='cssmenu'>
                    <ul>
                    	<li><a href='/uniqueref/'><span>Home</span></a></li>
                    	<li class='active has-sub'><a href='#'><span>Fixed screens</span></a>
                        	<ul>
								<li><a href='/uniqueref/fixedscreensummary'><span>Screen Summary</span></a></li>
								<li><a href='/uniqueref/simpleplot'><span>Simple plot</span></a></li>
								<li><a href='/uniqueref/uniquefinder'><span>UniqueFinder</span></a></li>
								<li><a href='/uniqueref/opengenefinder'><span>Gene Search</span></a></li>
	               			</ul>
						</li>
						<li class='active has-sub'><a href='#'><span>Positive Selection</span></a>
	                   		<ul>
	                   			<li><a href='/uniqueref/pssbubbleplot'><span>Single Screen Bubble Plot</span></a></li>
	                   		</ul>
						</li>
						<li class='active has-sub'><a href='#'><span>Tracks</span></a>
                            <ul>
                                <li><a href='/uniqueref/listtracks'><span>List tracks</span></a></li>
                                <li><a href='/uniqueref/uploadtrack'><span>Upload new track</span></a></li>
                                <li><a href='/uniqueref/deletetrack'><span>Delete track</span></a></li>
                            </ul>
                        </li>
                        <li><a href='/uniqueref/listscreens'><span>List all screens</span></a></li>
                        <li><a href='/uniqueref/listgenes'><span style="white-space:nowrap">List all Genes</span></a></li>
						<li class='active has-sub'><a href='#'><span>Help / About</span></a>
							<ul>
	                        	<li class='last'><a href='/uniqueref/help'><span>Documentation</span></a></li>
								<li class='last'><a href='/uniqueref/updates'><span>Update history</span></a></li>
								<li class='last'><a href='/about'><span>About</span></a></li>
								<li class='last'><a href='/contact'><span>Contact</span></a></li>
							</ul>
						</li>
                    </ul>
                </div>
			</div>
			<div class="box content">
				{% block base_content %}{% endblock %}
			</div>
	        <div class="box sidebar">
			</div>
		</div>
		<div class="footer"><div class='footertext'>
		<form id="logoutForm" action="/logout" method="post" class="navbar-right">
                {% if user.is_authenticated %}
			{% csrf_token %}
                        logged in as: {{ user.username }} -
 			<a href="javascript:document.getElementById('logoutForm').submit()">Log off -</a>	
		{% else %}
				<a href="{% url 'django.contrib.auth.views.login' %}">Login</a> -
		{% endif %}
			<a href="/contact">Contact</a> - Report bug
		</form>
		</div>
	</div>
</body>
</html>
