{% extends 'uniqueref/layout.html' %}
{% block title %}Delete track{% endblock %}
{% block content %}
{% if filter != None %}
	<h1>Delete Track</h1>
	{% csrf_token %}
	<form action="/uniqueref/deletetrack/" method="get">
	<div class="form-group">
		<label>{{ filter.customgenelistid.label_tag }}</label>
		{{ filter.customgenelistid }}
	</div>
	<input type="submit" class="btn btn-default" value="Delete" /></td>
	</form>
{% else %}
<h3 style="color:#006622;">{{ data|safe }}</h3>
{% endif %}
{% endblock %}
