{% extends 'uniqueref/base_uniqueref.html' %}
{% block title %}Screen summary{% endblock %}
{% block base_content %}
    <form action="/uniqueref/fixedscreensummary/" method="get">
		{% csrf_token %}
		<h1> Summary of Screen </h1>
		<hr>
		<table>
            <tr>
                <td width="25%"></td>
                <td width="50%" align="center">Select Screen</td>
                <td width="25%"></td>
                <td>
            </tr>
            <tr>
                <td width="25%"></td>
                <td width="50%" align="center">{{ filter.screen }}</td>
                <td width="25%"></td>
            </tr>
        </table>
        <hr>
        <input type="submit" value="Submit" />
        </form>
    <p></p>

        {{ the_div|safe }}
	    {{ the_script|safe }}
        {{ data|safe }}

{% endblock %}
