{% extends 'uniqueref/layout.html' %}
{% block title %}Gene Finder{% endblock %}
{% block content %}
<h1>Gene Finder</h1>
{% if error != None %}
    <h4 style="color:#b30000">{{ error|safe }}</h4>
{% endif %}
<form action="/uniqueref/opengenefinder/" method="get">
    {% csrf_token %}
<div class="panel-group">
 <div class="panel panel-default">
     <div class="panel-body">
         <div class="form-group row">
             <div class="col-xs-12 col-md-8">
                 {{ filter.genes.label_tag }}
                 {{ filter.genes }}
             </div>
             <div class="col-xs-12 col-md-4">
                 {{ filter.customgenelistid.label_tag }}
                 {{ filter.customgenelistid }}
             </div>
         </div>
     </div>
 </div>
 <div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" href="#collapse1">Advanced options</a></h4></div>
   <div id="collapse1" class="panel-collapse collapse">
    <div class="panel-body">
        <div class="form-group row">
            <div class="col-sm-4">
                {{ filter.screens.label_tag }}
                {{ filter.screens }}
            </div>
            <div class="col-sm-4">
                {{ filter.pvalue.label_tag }}<br>
                {{ filter.pvalue }}<br>
                {{ filter.plot_width.label_tag }}<br>
                {{ filter.plot_width }}<br>
                {{ filter.highlightpss.label_tag }}<br>
                {{ filter.highlightpss }}<br>
                {{ filter.pvaluepss.label_tag }}<br>
                {{ filter.pvaluepss }}<br>
            </div>
            <div class="col-sm-4">
                {{ filter.pgh.label_tag }}<br>
                {{ filter.pgh }}<p>
                The following options only apply if not drawing separate gene plots<br>
                {{ filter.oca.label_tag }}<br>
                {{ filter.oca }}<br>
                {{ filter.cb.label_tag }}<br>
                {{ filter.cb }}<br>
                {{ filter.textsize.label_tag }}<br>
                {{ filter.textsize }}
                </p>
            </div>
        </div>
    </div>
   </div>
 </div>
 <div class="panel panel-default">
    <div class="panel-body"><input type="submit" class="btn btn-default" value="Submit" />
    </div>
 </div>
</div>
</form>

{% if the_script != None %}
<div class="row">
    <div class="col-md-12">
        {{the_script|safe}} {{the_div|safe}}
    </div>
</div
{% endif %}
{% endblock %}

