{% extends 'uniqueref/layout.html' %}
{% block title %}Positive Selection Screen{% endblock %}
{% block content %}
<h1>Fishtail plot</h1>
{% if data != None %}
    <h4 style="color:#b30000">{{ data|safe }}</h4>
{% endif %}
<form action="/uniqueref/pssbubbleplot/" method="get">
    {% csrf_token %}
<div class="panel-group">
 <div class="panel panel-default">
     <div class="panel-body">
         <div class="form-group">
             <div class="col-sm-6">
                 {{ filter.screen.label_tag }}
                 {{ filter.screen }}
             </div>
             <div class="col-sm-6">
                 {{ filter.oca.label_tag }}
                 {{ filter.oca }}
             </div>
         </div>
     </div>
 </div>
 <div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" href="#collapse1">Advanced options</a></h4></div>
   <div id="collapse1" class="panel-collapse collapse">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-6">
                {{ filter.pvalue.label_tag }}<br>
                {{ filter.pvalue }}<br>
                {{ filter.sepcolor.label_tag }}<br>
                {{ filter.sepcolor }}<br>
                {{ filter.scaling.label_tag }}<br>
                {{ filter.scaling }}
            </div>
            <div class="col-sm-6">
                {{ filter.sag.label_tag }}<br>
                {{ filter.sag }}<br>
                {{ filter.textsize.label_tag }}<br>
                {{ filter.textsize }}<br>
                {{ filter.showtable.label_tag }}<br>
                {{ filter.showtable }}
            </div>
        </div>
    </div>
   </div>
 </div>
 <div class="panel panel-default">
    <div class="panel-body"><input type="submit" class="btn btn-default" value="Submit" />
    </div>
 </div>
</div>
</form>

{% if the_script != None %}
<div class="col-sm-12">
    {{the_script|safe}} {{the_div|safe}}
</div>
{% endif %}
{% endblock %}