{% extends 'uniqueref/base_uniqueref.html' %}
{% block title %}Single Screen Fishtail Plot{% endblock %}
{% block base_content %}
    <form action="/uniqueref/simpleplot/" method="get">
		{% csrf_token %}
		<h1> Fishtail plot of single screen </h1>
		<hr>
		<table>
            <tr>
                <td width="5%"></td>
                <td width="10%">Select Screen</td>
                <td width="10%">{{ filter.oca.label_tag }}</td>
                <td width="10%">{{ filter.textsize.label_tag }}</td>
                <td width="10%">{{ filter.pvalue.label_tag }}</td>
                <td width="10%">{{ filter.sag.label_tag }}</td>
                <td width="10%">{{ filter.showtable.label_tag }}</td>
                <td width="10%">{{ filter.highlightpps.label_tag }}</td>
                <td width="10%">{{ filter.pvaluepps.label_tag }}</td>
                <td with="10%">{{ filter.customgenelistid.label_tag}}</td>
                <td width="5%"></td>
                <td>
            </tr>
            <tr>
                <td width="5%"></td>
                <td width="10%">{{ filter.screen }}</td>    
                <td width="10%">{{ filter.oca }}</td>
                <td width="10%">{{ filter.textsize }}</td>
                <td width="10%">{{ filter.pvalue }}</td>
                <td width="10%">{{ filter.sag }}</td>
                <td width="10%">{{ filter.showtable }}</td>
                <td width="10%">{{ filter.highlightpps }}</td>
                <td width="10%">{{ filter.pvaluepps }}</td>
                <td with="10%">{{ filter.customgenelistid}}</td>
                <td width="5%"></td>
            </tr>
        </table>

        <hr>
	<input type="submit" value="Submit" /><br>
        (Drawing a plot may take some time, please be patient after you have clicked submit)<br>
        </form>
	<table>
	    <tr>
                <td>{{error|safe}}{{the_script|safe}}{{the_div|safe}}<td>
            </tr>
	    <tr>
                <td>{{data | safe}}</td>
            </tr>
	</table>

{% endblock %}
