<!DOCTYPE html>
{% extends 'uniqueref/base_uniqueref.html' %}
{% block title %}UniqueFinder{% endblock %}
{% block base_content %}
<form action="/uniqueref/uniquefinder/" method="get">
{% csrf_token %}
<h1> Find unique hits </h1>
<hr>
<table>

    <tr>
        <td width="10%", rowspan="22"></td>
        <td width="10%">{{ filter.screen.label_tag }}</td>
        <td width="10%">{{ filter.showtable.label_tag }}</td>
        <td width="60%", rowspan="19", align="center", valign="center">{{the_div|safe}}{{the_script|safe}}{{error|safe}}</td>
        <td width="10%", rowspan="22"></td>
	<tr>
        <td width="10%">{{ filter.screen }}</td>
        <td width="10%">{{ filter.showtable }}</td>
	</tr>
	<tr>	
        <td width="10%"> {{ filter.againstscreen.label_tag }}</td>
        <td width="10%"></td>
	<tr>
		<td width="10%", rowspan='5'>{{ filter.againstscreen }}</td>
        <td width="10%">{{ filter.highlightpps.label_tag }}</td>
    </tr>
    <tr>
        <td width="10%">{{ filter.highlightpps }}</td>
    </tr>
    <tr>
        <td width="10%">{{ filter.pvaluepps.label_tag }}</td>
    </tr>
    <tr>
        <td width="10%">{{ filter.pvaluepps }}</td>
    </tr>
    <tr>

    </tr>
    <tr>
        <td width="10%">{{ filter.oca.label_tag }}</td>
        <td width="10%"></td>
    </tr>
    <tr>
        <td width="10%">{{ filter.oca }}</td>
       <td width="10%"></td>
        
    </tr>
    <tr>
        <td width="10%">{{ filter.comparison.label_tag }}</td>
        <td rowspan="10", valign="top", width="10%", height="100%", align="left"></td>
    </tr>
    <tr>
        <td width="10%">{{ filter.comparison}}</td>
    </tr>
    <tr>
        <td width="10%">{{ filter.sag.label_tag}}</td>
    </tr>
    <tr>
        <td width="10%">{{ filter.sag}}</td>
    </tr>
    <tr>
        <td width="10%">{{ filter.textsize.label_tag }}</td>
    </tr>
    <tr>
        <td width="10%">{{ filter.textsize }}</td>
    </tr>
    <tr>
        <td width="10%"></td>
    </tr>
    <tr>
        <td width="10%"></td>
    </tr>
    <tr>
        <td width="10%">{{ filter.pvalue.label_tag }}</td>
    </tr>
    <tr>
        <td width="10%", valign="top">{{ filter.pvalue }}</td>
        <td width="60%", rowspan="2">

        </td>
    </tr>
    <tr>
        <td valign="top", colspan="2", width="20%"><input type="submit" value="Submit" /></td>
    </tr>
    <tr>
        <td colspan="3", width="75%">{{data|safe}}</td>
    </tr>
</table>
</form>

{% endblock %}
