{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>PhenosaurusREX</h1>
    <p class="lead">An interactive platform for visualization and analysis of haploid screens</p>
<!--    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
</div>

<!--
<div class="frontpagesubjects">
    <div class="col-md-4">
        <h2>Intracellular phenotype screens</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu sapien vel ex sollicitudin fermentum et vitae nisi. Nunc at tellus quis ipsum vehicula sollicitudin. Vestibulum pretium interdum enim. Nunc.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Synthetic lethality</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra auctor nibh, nec ullamcorper lacus porttitor sed. Nulla ornare orci.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Positive Selection</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut nisi pretium, molestie nisl ut, rutrum nulla. Vestibulum varius dolor felis, non accumsan sapien tristique.
        </p>
        <p><a class="btn btn-default" href="http://pytools.codeplex.com">Learn more &raquo;</a></p>
    </div>
</div> -->

{% endblock %}
