{% load i18n %}{% autoescape off %}
{% trans "Hi " %}{{ user.get_short_name }}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Click or copy-paste the following link to set a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "And btw, in case you've forgotten, your username is:" %} {{ user.get_username }}

{% trans "Thanks for using Phenosaurus!" %}

{% trans "Elmer Sickel" %}

{% endautoescape %}
